In [1]:
import nltk
import numpy as np

In [2]:
import pandas as pd
text= pd.read_csv("C:/Users/Gazal V/Desktop/Dowell/all/demo_5.csv")
text.head

<bound method NDFrame.head of            result_type                        id   status  \
0             metadata  64f05e420f986612e4790c25  Success
1    search_parameters                       NaN      NaN
2              organic                       NaN      NaN
3              organic                       NaN      NaN
4              organic                       NaN      NaN
..                 ...                       ...      ...
381   related_searches                       NaN      NaN
382   related_searches                       NaN      NaN
383   related_searches                       NaN      NaN
384   related_searches                       NaN      NaN
385   related_searches                       NaN      NaN

                                         json_endpoint  \
0    https://serpapi.com/searches/0fe38a9c64a5b7b7/...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
381                                                NaN
382                                                NaN
383                                                NaN
384                                                NaN
385                                                NaN

                  created_at  processe_at  \
0    2023-08-31 09:32:50 UTC          NaN
1                        NaN          NaN
2                        NaN          NaN
3                        NaN          NaN
4                        NaN          NaN
..                       ...          ...
381                      NaN          NaN
382                      NaN          NaN
383                      NaN          NaN
384                      NaN          NaN
385                      NaN          NaN

                                            google_url  \
0    https://www.google.co.in/search?q=instant+food...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
381                                                NaN
382                                                NaN
383                                                NaN
384                                                NaN
385                                                NaN

                                         raw_html_file  total_time_taken  \
0    https://serpapi.com/searches/0fe38a9c64a5b7b7/...              2.47
1                                                  NaN               NaN
2                                                  NaN               NaN
3                                                  NaN               NaN
4                                                  NaN               NaN
..                                                 ...               ...
381                                                NaN               NaN
382                                                NaN               NaN
383                                                NaN               NaN
384                                                NaN               NaN
385                                                NaN               NaN

     engine  ...                                               link  \
0       NaN  ...                                                NaN
1    google  ...                                                NaN
2       NaN  ...  https://www.amazon.in/Instant-Food/s?k=Instant...
3       NaN  ...  https://www.flipkart.com/ready-to-eat/pr?sid=e...
4       NaN  ...  https://www.bigbasket.com/pc/snacks-branded-fo...
..      ...  ...                                                ...
381     NaN  ...  https://www.google.co.in/search?sca_esv=561590...
382     NaN  ...  https://www.google.co.in/search?sca_esv=561590...
383     NaN  ...  https://www.google.co.in/search?sca_esv=561590...
384     NaN  ...  https://www.google.co.in/search?sca_esv=561590...
385     NaN  ...  https://www.google.co.in/search?sca_esv=561590...

                                          serpapi_link tracking_link  \
0                                                  NaN           NaN
1                                                  NaN           NaN
2                                                  NaN           NaN
3                                                  NaN           NaN
4                                                  NaN           NaN
..                                                 ...           ...
381  https://serpapi.com/search.json?device=desktop...           NaN
382  https://serpapi.com/search.json?device=desktop...           NaN
383  https://serpapi.com/search.json?device=desktop...           NaN
384  https://serpapi.com/search.json?device=desktop...           NaN
385  https://serpapi.com/search.json?device=desktop...           NaN

    description                                     displayed_link  \
0           NaN                                                NaN
1           NaN                                                NaN
2           NaN  https://www.amazon.in › Instant-Food › k=Insta...
3           NaN            https://www.flipkart.com › ready-to-eat
4           NaN  https://www.bigbasket.com › ... › Ready to coo...
..          ...                                                ...
381         NaN                                                NaN
382         NaN                                                NaN
383         NaN                                                NaN
384         NaN                                                NaN
385         NaN                                                NaN

                                             thumbnail  \
0                                                  NaN
1                                                  NaN
2    https://serpapi.com/searches/64f05e420f986612e...
3    https://serpapi.com/searches/64f05e420f986612e...
4    https://serpapi.com/searches/64f05e420f986612e...
..                                                 ...
381                                                NaN
382                                                NaN
383                                                NaN
384                                                NaN
385                                                NaN

                                               favicon  \
0                                                  NaN
1                                                  NaN
2    https://serpapi.com/searches/64f05e420f986612e...
3    https://serpapi.com/searches/64f05e420f986612e...
4    https://serpapi.com/searches/64f05e420f986612e...
..                                                 ...
381                                                NaN
382                                                NaN
383                                                NaN
384                                                NaN
385                                                NaN

                                               snippet  \
0                                                  NaN
1                                                  NaN
2    Amazon.in: Instant Food. ... FREE Delivery ove...
3    Ready To Eat Meals: Buy Ready to Eat Snacks an...
4    Just order from our ready to eat food online p...
..                                                 ...
381                                                NaN
382                                                NaN
383                                                NaN
384                                                NaN
385                                                NaN

     snippet_highlighted_words     source
0                          NaN        NaN
1                          NaN        NaN
2                          NaN  Amazon.in
3                          NaN   Flipkart
4                          NaN  BigBasket
..                         ...        ...
381                        NaN        NaN
382                        NaN        NaN
383                        NaN        NaN
384                        NaN        NaN
385                        NaN        NaN

[386 rows x 33 columns]>

In [3]:
text.drop(text.iloc[:, :30], inplace=True, axis=1)

In [4]:
text.drop(text.iloc[:, 1:], inplace=True, axis=1)

In [5]:
text= text.dropna()

In [6]:
text.head()

                                             snippet
2  Amazon.in: Instant Food. ... FREE Delivery ove...
3  Ready To Eat Meals: Buy Ready to Eat Snacks an...
4  Just order from our ready to eat food online p...
5  Be the first to know about exciting new flavor...
6  Discover a wide range of ready meals, instant ...

# 1. Basic Feature Extraction

word Count

In [7]:
text['word_count'] = text['snippet'].apply(lambda x: len(str(x).split(" ")))
text[['snippet','word_count']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1910540914.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['word_count'] = text['snippet'].apply(lambda x: len(str(x).split(" ")))

                                             snippet  word_count
2  Amazon.in: Instant Food. ... FREE Delivery ove...          26
3  Ready To Eat Meals: Buy Ready to Eat Snacks an...          21
4  Just order from our ready to eat food online p...          30
5  Be the first to know about exciting new flavor...          17
6  Discover a wide range of ready meals, instant ...          24

Number Of Characters

In [8]:
text['char_count'] = text['snippet'].str.len() ## this also includes spaces
text[['snippet','word_count','char_count']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1038257379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['char_count'] = text['snippet'].str.len() ## this also includes spaces

                                             snippet  word_count  char_count
2  Amazon.in: Instant Food. ... FREE Delivery ove...          26         144
3  Ready To Eat Meals: Buy Ready to Eat Snacks an...          21         124
4  Just order from our ready to eat food online p...          30         159
5  Be the first to know about exciting new flavor...          17          98
6  Discover a wide range of ready meals, instant ...          24         152

Average Word Length

In [9]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

text['avg_word'] = text['snippet'].apply(lambda x: avg_word(x))
text[['snippet','avg_word','word_count','char_count']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1015672435.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['avg_word'] = text['snippet'].apply(lambda x: avg_word(x))

,snippet,avg_word,word_count,char_count
2,Amazon.in: Instant Food. ... FREE Delivery ove...,4.576923,26,144
3,Ready To Eat Meals: Buy Ready to Eat Snacks an...,4.952381,21,124
4,Just order from our ready to eat food online p...,4.333333,30,159
5,Be the first to know about exciting new flavor...,4.823529,17,98
6,"Discover a wide range of ready meals, instant ...",5.375000,24,152

Number of stopwords

In [10]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

text['stopwords'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x in stop]))
text[['snippet','stopwords','avg_word','word_count','char_count']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\2521824737.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['stopwords'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x in stop]))

,snippet,stopwords,avg_word,word_count,char_count
2,Amazon.in: Instant Food. ... FREE Delivery ove...,6,4.576923,26,144
3,Ready To Eat Meals: Buy Ready to Eat Snacks an...,3,4.952381,21,124
4,Just order from our ready to eat food online p...,11,4.333333,30,159
5,Be the first to know about exciting new flavor...,5,4.823529,17,98
6,"Discover a wide range of ready meals, instant ...",7,5.375000,24,152

Number of special characters

In [11]:
text['hastags'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
text[['snippet','hastags','stopwords','avg_word','word_count','char_count']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1827914868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['hastags'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))

,snippet,hastags,stopwords,avg_word,word_count,char_count
2,Amazon.in: Instant Food. ... FREE Delivery ove...,0,6,4.576923,26,144
3,Ready To Eat Meals: Buy Ready to Eat Snacks an...,0,3,4.952381,21,124
4,Just order from our ready to eat food online p...,0,11,4.333333,30,159
5,Be the first to know about exciting new flavor...,0,5,4.823529,17,98
6,"Discover a wide range of ready meals, instant ...",0,7,5.375000,24,152

Number of numerics

In [12]:
text['numerics'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
text[['snippet','numerics','hastags','stopwords','avg_word','word_count','char_count']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\4177922440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['numerics'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))

,snippet,numerics,hastags,stopwords,avg_word,word_count,char_count
2,Amazon.in: Instant Food. ... FREE Delivery ove...,2,0,6,4.576923,26,144
3,Ready To Eat Meals: Buy Ready to Eat Snacks an...,0,0,3,4.952381,21,124
4,Just order from our ready to eat food online p...,0,0,11,4.333333,30,159
5,Be the first to know about exciting new flavor...,0,0,5,4.823529,17,98
6,"Discover a wide range of ready meals, instant ...",0,0,7,5.375000,24,152

Number of Uppercase words

In [13]:
text['upper'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
text[['snippet','upper','numerics','hastags','stopwords','avg_word','word_count','char_count']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\3533225029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['upper'] = text['snippet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))

,snippet,upper,numerics,hastags,stopwords,avg_word,word_count,char_count
2,Amazon.in: Instant Food. ... FREE Delivery ove...,1,2,0,6,4.576923,26,144
3,Ready To Eat Meals: Buy Ready to Eat Snacks an...,0,0,0,3,4.952381,21,124
4,Just order from our ready to eat food online p...,0,0,0,11,4.333333,30,159
5,Be the first to know about exciting new flavor...,0,0,0,5,4.823529,17,98
6,"Discover a wide range of ready meals, instant ...",0,0,0,7,5.375000,24,152

# 2. Basic Pre-processing

In [14]:
text['snippet'] = text['snippet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
text['snippet'].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\2165346652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['snippet'] = text['snippet'].apply(lambda x: " ".join(x.lower() for x in x.split()))

2    amazon.in: instant food. ... free delivery ove...
3    ready to eat meals: buy ready to eat snacks an...
4    just order from our ready to eat food online p...
5    be the first to know about exciting new flavor...
6    discover a wide range of ready meals, instant ...
Name: snippet, dtype: object

Removing Punctuation

In [15]:
text['snippet'] = text['snippet'].str.replace('[^\w\s]','')
text['snippet'].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1011311796.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  text['snippet'] = text['snippet'].str.replace('[^\w\s]','')
C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1011311796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['snippet'] = text['snippet'].str.replace('[^\w\s]','')

2    amazonin instant food  free delivery over 499 ...
3    ready to eat meals buy ready to eat snacks and...
4    just order from our ready to eat food online p...
5    be the first to know about exciting new flavor...
6    discover a wide range of ready meals instant m...
Name: snippet, dtype: object

 Removal of Stop Words

In [16]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
text['snippet'] = text['snippet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
text['snippet'].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\2536666901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['snippet'] = text['snippet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

2    amazonin instant food free delivery 499 fulfil...
3    ready eat meals buy ready eat snacks meals ind...
4    order ready eat food online page bigbasket all...
5    first know exciting new flavors offers please ...
6    discover wide range ready meals instant mixes ...
Name: snippet, dtype: object

Common word removal

In [17]:
freq = pd.Series(' '.join(text['snippet']).split()).value_counts()[:10]
freq

instant     125
online      108
food        105
delivery     45
noodles      40
best         31
ready        31
products     30
buy          29
order        29
dtype: int64

In [18]:
freq = list(freq.index)
text['snippet'] = text['snippet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
text['snippet'].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1702252452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['snippet'] = text['snippet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

2    amazonin free 499 fulfilled amazon fast 2 hour...
3    eat meals eat snacks meals indias shopping sto...
4    eat page bigbasket allow us cater cravings rig...
5    first know exciting new flavors offers please ...
6    discover wide range meals mixes gourmet foods ...
Name: snippet, dtype: object

Rare words removal

In [19]:
freq = pd.Series(' '.join(text['snippet']).split()).value_counts()[-10:]
freq

ragala         1
anywhere       1
foodssnacks    1
jowar          1
mild           1
weve           1
got            1
covered        1
rs             1
within         1
dtype: int64

In [20]:
freq = list(freq.index)
text['snippet'] = text['snippet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
text['snippet'].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1702252452.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['snippet'] = text['snippet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))

2    amazonin free 499 fulfilled amazon fast 2 hour...
3    eat meals eat snacks meals indias shopping sto...
4    eat page bigbasket allow us cater cravings rig...
5    first know exciting new flavors offers please ...
6    discover wide range meals mixes gourmet foods ...
Name: snippet, dtype: object

Spelling correction

In [21]:
pip install textblob

Requirement already satisfied: textblob in c:\users\gazal v\anaconda\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\gazal v\anaconda\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: tqdm in c:\users\gazal v\anaconda\lib\site-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\gazal v\anaconda\lib\site-packages (from nltk>=3.1->textblob) (2022.7.9)
Requirement already satisfied: click in c:\users\gazal v\anaconda\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\gazal v\anaconda\lib\site-packages (from nltk>=3.1->textblob) (1.1.1)
Requirement already satisfied: colorama in c:\users\gazal v\anaconda\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -cipy (c:\users\gazal v\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\gazal v\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\gazal v\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\gazal v\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\gazal v\anaconda\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\gazal v\anaconda\lib\site-packages)

In [22]:
from textblob import TextBlob

In [23]:
text['snippet'][:5].apply(lambda x: str(TextBlob(x).correct()))

2    amazon free 499 fulfilled amazon fast 2 hours ...
3    eat meals eat snacks meals indians shopping st...
4    eat page bigbasket allow us cater craving righ...
5    first know exciting new favors offers please e...
6    discover wide range meals miles gourmet foods ...
Name: snippet, dtype: object

Tokenization

In [24]:
type(text)

pandas.core.frame.DataFrame

In [25]:
Text = text['snippet']

In [26]:
from nltk.tokenize import word_tokenize
Text = Text.apply(word_tokenize)
Text.head()

2    [amazonin, free, 499, fulfilled, amazon, fast,...
3    [eat, meals, eat, snacks, meals, indias, shopp...
4    [eat, page, bigbasket, allow, us, cater, cravi...
5    [first, know, exciting, new, flavors, offers, ...
6    [discover, wide, range, meals, mixes, gourmet,...
Name: snippet, dtype: object

In [27]:
#TextBlob(text['snippet'][1]).words

Stemming

In [28]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
text['snippet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

2    amazonin free 499 fulfil amazon fast 2 hour or...
3    eat meal eat snack meal india shop store genui...
4    eat page bigbasket allow us cater crave right ...
5    first know excit new flavor offer pleas enter ...
6    discov wide rang meal mix gourmet food mirchic...
Name: snippet, dtype: object

 Lemmatization

In [29]:
from textblob import Word
text['snippet'] = text['snippet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
text['snippet'].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\192768673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['snippet'] = text['snippet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

2    amazonin free 499 fulfilled amazon fast 2 hour...
3    eat meal eat snack meal india shopping store g...
4    eat page bigbasket allow u cater craving right...
5    first know exciting new flavor offer please en...
6    discover wide range meal mix gourmet food mirc...
Name: snippet, dtype: object

# Advance Text Processing

N-grams

In [30]:
text.head()

,snippet,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
2,amazonin free 499 fulfilled amazon fast 2 hour...,26,144,4.576923,6,0,2,1
3,eat meal eat snack meal india shopping store g...,21,124,4.952381,3,0,0,0
4,eat page bigbasket allow u cater craving right...,30,159,4.333333,11,0,0,0
5,first know exciting new flavor offer please en...,17,98,4.823529,5,0,0,0
6,discover wide range meal mix gourmet food mirc...,24,152,5.375000,7,0,0,0

In [31]:
from nltk import ngrams

In [32]:
ngram_text = text['snippet'][:5].apply(lambda x: str(TextBlob(x).correct()))

In [33]:
ngram_text

2    amazon free 499 fulfilled amazon fast 2 hour o...
3    eat meal eat snack meal india shopping store g...
4    eat page bigbasket allow u cater craving right...
5    first know exciting new flavor offer please en...
6    discover wide range meal mix gourmet food mirc...
Name: snippet, dtype: object

In [34]:
#ngram_text.values.tolist()

In [35]:
# = ' '.join([str(elem) for elem in ngram_text])

In [36]:
#print(listToStr)

In [37]:
ngrams= ngram_text.ngrams(n=2)

AttributeError: 'Series' object has no attribute 'ngrams'

In [ ]:
#print(ngram_text)

In [38]:
TextBlob(text['snippet'][0]).ngrams(n=2)

KeyError: 0

Term frequency

In [39]:
tf1 = (text['snippet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

      words  tf
0       eat   2
1      meal   2
2     snack   1
3     india   1
4  shopping   1
5     store   1
6   genuine   1
7     offer   1

Inverse Document Frequency

In [40]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(text.shape[0]/(len(text[text['snippet'].str.contains(word)])))

tf1

      words  tf       idf
0       eat   2  1.456164
1      meal   2  1.726454
2     snack   1  2.321161
3     india   1  1.797913
4  shopping   1  3.147840
5     store   1  2.149311
6   genuine   1  5.093750
7     offer   1  2.385700

Term Frequency – Inverse Document Frequency (TF-IDF)

In [41]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

      words  tf       idf     tfidf
0       eat   2  1.456164  2.912328
1      meal   2  1.726454  3.452909
2     snack   1  2.321161  2.321161
3     india   1  1.797913  1.797913
4  shopping   1  3.147840  3.147840
5     store   1  2.149311  2.149311
6   genuine   1  5.093750  5.093750
7     offer   1  2.385700  2.385700

In [42]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(text['snippet'])

train_vect

<163x981 sparse matrix of type '<class 'numpy.float64'>'
	with 1850 stored elements in Compressed Sparse Row format>

Bag of Words

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(text['snippet'])
train_bow

<163x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 1930 stored elements in Compressed Sparse Row format>

Sentiment Analysis

In [44]:
text['snippet'][:5].apply(lambda x: TextBlob(x).sentiment)

2    (0.30000000000000004, 0.6333333333333333)
3                                   (0.4, 0.5)
4    (0.31785714285714284, 0.5428571428571429)
5     (0.2287878787878788, 0.5292929292929293)
6                    (0.4083333333333333, 0.6)
Name: snippet, dtype: object

In [45]:
text['sentiment'] = text['snippet'].apply(lambda x: TextBlob(x).sentiment[0] )
text[['snippet','sentiment']].head()

C:\Users\Gazal V\AppData\Local\Temp\ipykernel_21800\1089723495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text['sentiment'] = text['snippet'].apply(lambda x: TextBlob(x).sentiment[0] )

                                             snippet  sentiment
2  amazonin free 499 fulfilled amazon fast 2 hour...   0.300000
3  eat meal eat snack meal india shopping store g...   0.400000
4  eat page bigbasket allow u cater craving right...   0.317857
5  first know exciting new flavor offer please en...   0.228788
6  discover wide range meal mix gourmet food mirc...   0.408333